body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

.site-wrapper {
    height: 100vh;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.75vw;
}

.hero-pic {
    background-image: url(hero-pic.png);
    background-size: cover;
    background-position: center;
    height: 37.5vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.info {
    color: black;
    padding: 0 7.5vw;
    margin-top: 7vw;
    margin-bottom: 7.5vw;
}

.name {
    font-size: 3.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.occ {
    font-size: 1em;
}

.text {
    color: black;
    font-size: 0.9em;
    display: block;
    padding: 0 7.5vw;
    margin-top: 0;
    line-height: 2em;
}

p:last-of-type {
    margin: 0;
}

.email {
    display: block;
    font-size: 0.9em;
    padding: 0 7.5vw;
    margin: 2em 0;
}

.links-container {
    display: flex;
    flex-direction: row;
    padding: 0 7.5vw;
    margin-bottom: 2em;
}

.links-container img {
    display: inline-block;
    margin-right: 3vw;
    max-height: 5vw;
}

@media only screen and (min-width: 992px) {
    .site-wrapper-l {
        display: flex;
        font-size: 1.35vw;
        flex-direction: row-reverse;
    }

    .hero-pic {
        flex: 1;
        background-size: cover;
        height: 100%;
    }

    .main {
        justify-content: space-evenly;
        flex: 1.25;
        padding: 0;
    }

    .info {
        position: relative;
        padding: 0 6vw 0 6vw;
        color: black;
        margin: 0;
    }

    .text {
        padding: 0 6vw;
        position: relative;
        line-height: 4vh;
        margin: 0;
        /* margin-bottom is to compensate for <p> spacing in large devices */
        margin-bottom: -5vh; 
    }

    .email {
        padding: 0 6vw;
        margin: 0;
    }

    .links-container {
        padding: 0 6vw;
        position: relative;
        margin: 0;
    }

    .links-container img {
        max-height: 4vh;
    }

    @media only screen and (min-width: 1380px) {
        .site-wrapper-l {
            font-size: 1.3vw;
        }
    }
}